@use 'resetcss';
@use 'headerfooter';
@use 'fonts';
@use '_style-texte-menu';

@media screen and (min-width:0px){



  h1{
    color:rgb(255,228,88);
    margin: 0;
  }
main{

  background: rgb(247,247,247);
  font-family: 'segoe';
  text-align: center;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  .titre-menu{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  h2{
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(to bottom right, rgb(4, 0, 207) 25%, rgb(24,255,255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
  }

  .t1 h3{
    color: rgb(0,0,212);
  }
  .t2 h3{
    color: rgb(13,86,240);
  }
  .t3 h3{
    color: rgb(31,136,247);
  }
  ul{
    list-style: none;

  }
  li{
    display: flex;
flex-direction: column;
    padding-right: 2em;
    font-family: 'segoe';
  }
}
.t1::after{
  background: rgb(0,0,212);
}
.t2::after{
  background: rgb(13,86,240);
}
.t3::after{
  background: rgb(31,136,247);
}

nav{
  text-align: center;
  margin-bottom: 1.5em;
  a{
    background: rgb(22,160,133);
    font-family: 'Source Sans Pro', sans-serif;
    color:rgb(255,228,88);
    text-decoration: none;
    border-radius: 20px;
    padding: .5em;
  }

}
}

@media screen and (min-width:768px){

  main{
    li{
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      padding-right: 2em;
      font-family: 'segoe';
    }
  }
}
