@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/*font menu lne*/
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    -webkit-transform-origin: center center;
  }
}
header, footer {
  background: #16a085;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

h1, footer a {
  color: #ffe458;
  margin: 0;
}

h1 {
  font-size: 3em;
}

footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  padding: 0;
  margin-top: 2em;
}
footer a {
  text-decoration: none;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer a:first-child {
  padding-left: 1em;
}
footer a:nth-child(2) {
  padding-right: 1em;
}
footer a:hover {
  -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

/*@media screen and (min-height:1000px){

  footer{
    position: absolute;
    bottom: 0;
    width: 100%;

  }
}
*/
@media screen and (min-width: 0px) {
  main {
    text-align: center;
    flex-grow: 2;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    padding: 1em;
  }
  main .titre {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  main .titre img {
    align-self: center;
  }
  main .titre h3 {
    flex-grow: 2;
    padding-left: 1em;
    padding-right: 1em;
  }
  main ul {
    list-style: none;
    padding: 0;
  }
  main ul .prix {
    margin-left: 1em;
  }
  main li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .t1::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1em;
    transition: width 0.3s;
  }

  span.t1:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .t2::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1em;
    transition: width 0.3s;
  }

  span.t2:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  .t3::after {
    content: "";
    display: block;
    width: 0;
    height: 0.1em;
    transition: width 0.3s;
  }

  span.t3:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
}
@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
    margin: 7em;
  }
  main li {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-left: 2em;
    padding-right: 5em;
    font-size: 1.5em;
  }

  h3 {
    font-size: 2em;
  }
}
@media screen and (min-width: 1000px) {
  main {
    margin: 5em 10em 5em 10em;
  }
}
@font-face {
  font-family: "segoe";
  src: url("segoepr.ttf");
}
/*font menu lcalf*/
@media screen and (min-width: 0px) {
  main {
    text-align: center;
    background: #fcfffc;
    flex-grow: 2;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  }
  main .titre-haut img {
    height: 2.9em;
    margin-top: 1em;
  }
  main .titre-menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  main h2 {
    background: linear-gradient(to bottom right, #43a047 20%, #ccff90 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    margin-top: 0;
    font-family: "Kaushan Script", cursive;
  }
  main .t1::after {
    background: #43a047;
  }
  main .t2::after {
    background: #43a047;
  }
  main .t3::after {
    background: #43a047;
  }
  main span.t3:hover::after {
    width: 100%;
    transition: width 0.3s;
  }
  main h3 {
    font-family: "segoe";
  }
  main ul {
    list-style: none;
    font-family: "segoe";
    padding: 0;
  }
  main li {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }

  .titre-bas {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .titre-bas img {
    height: 2em;
    margin-right: 1em;
  }
  .titre-bas h3 {
    font-family: "Devonshire", cursive;
    color: #3e2723;
    font-size: 2em;
  }
}
nav {
  text-align: center;
}
nav a {
  background: #16a085;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffe458;
  text-decoration: none;
  border-radius: 20px;
  padding: 0.5em;
  margin-bottom: 1.5em;
}

@media screen and (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  main h2 {
    font-size: 3em;
  }
  main .titre-menu {
    padding-left: 2em;
    padding-right: 2em;
  }
  main .titre-menu h3 {
    font-size: 2em;
  }
  main li {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
  }
}

/*# sourceMappingURL=style-lpdg.css.map */
