@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/*font menu lne*/
@import url("https://fonts.googleapis.com/css2?family=Devonshire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");
body {
  margin: 0;
  padding: 0;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-5deg);
    -webkit-transform-origin: center center;
  }
}
header, footer {
  background: #16a085;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

h1, footer a {
  color: #ffe458;
  margin: 0;
}

h1 {
  font-size: 3em;
}

footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  padding: 0;
}
footer a {
  text-decoration: none;
  font-size: 1.1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
footer a:first-child {
  padding-left: 1em;
}
footer a:nth-child(2) {
  padding-right: 1em;
}
footer a:hover {
  -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@media screen and (min-height: 1000px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@font-face {
  font-family: "segoe";
  src: url("segoepr.ttf");
}
/*font menu lcalf*/
@media screen and (min-width: 0) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
  }

  a {
    text-decoration: none;
    font-size: 1em;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1em 4em;
  height: 20em;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
}
.menu h2,
.menu h3 {
  font-size: 1em;
  margin: 1em;
}
.menu img {
  max-height: 40px;
  max-width: 40px;
}

.lne {
  font-family: "Devonshire", cursive;
  background: #fad7d2;
  margin-top: 1em;
}
.lne h2,
.lne h3 {
  color: #3e2723;
}
.lne h3 {
  font-family: "segoe";
}
.lne img {
  width: 25%;
}

.lcalf {
  font-family: "Croissant One", cursive;
  background: #fceffb;
  margin-top: 1em;
}
.lcalf h2 {
  background: linear-gradient(to bottom right, #f57f17 20%, #7e57c2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lcalf h3 {
  color: #b96110;
  font-family: "Old Standard TT", serif;
}

.lddp {
  font-family: "Dancing Script", cursive;
  background: #f7f7f7;
}
.lddp h2 {
  background: linear-gradient(to bottom right, #0400cf 25%, #18ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lddp h3 {
  font-family: "segoe";
  color: #2979ff;
}

.lpdg {
  font-family: "Kaushan Script", cursive;
  background: #fcfffc;
  margin-bottom: 1em;
}
.lpdg h2 {
  background: linear-gradient(to bottom right, #43a047 20%, #ccff90 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lpdg h3 {
  font-family: "segoe";
  color: #64dd17;
}

.boutton {
  text-align: center;
  background: #16a085;
  font-family: "Source Sans Pro", sans-serif;
  color: #ffe458;
  text-decoration: none;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
}
.boutton h3 {
  margin: 0;
  padding-right: 2em;
  font-size: 1em;
}

.container {
  transform: translate(-50%, -50%);
  margin-top: 0.4em;
}

.dot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 2em;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffe458;
}

.dot-1 {
  animation-name: flow;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot-2 {
  animation-name: flow;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dot-3 {
  animation-name: flow;
  animation-duration: 0.9s;
  animation-timing-function: ease;
  animation-delay: 0.6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes flow {
  from {
    opacity: 1;
    transform: scale(1.2);
  }
  to {
    opacity: 0.2;
    transform: scale(0.75);
  }
}
@media screen and (min-width: 650px) {
  .menus {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .menu {
    height: 25em;
  }
  .menu a {
    font-size: 1.5em;
  }

  .menu a {
    cursor: pointer;
    transform: scale(1);
    transition: transform 500ms;
  }
  .menu a:hover {
    transform: scale(1.3);
    opacity: 0.5;
  }
}

/*# sourceMappingURL=style.css.map */
